/* MAIN OBJ */
div.dhx_acc_base_standard {
	overflow: hidden;
	background-color: #F3F3F3;
	/*
	border-top: #609BCA 1px solid;
	border-left: #609BCA 1px solid;
	border-right: #C2D9EB 1px solid;
	border-bottom: none;
	*/
}

/* SINGLE ITEM */
div.dhx_acc_item_standard {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-bottom: 1px;
	abackground-color: #FFFFFF;
}
div.dhx_acc_item_hidden_standard {
	display: none;
}
/* label */
div.dhx_acc_item_standard div.dhx_acc_item_label_standard {
	position: relative;
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	border-top: #B4B4B4 1px solid;
	border-left: #B4B4B4 1px solid;
	border-right: #969596 1px solid;
	border-bottom: #969596 1px solid;
	vertical-align: middle;
	overflow: hidden;
	background-image: url("../imgages/accordion/dhxaccord_standard/dhxaccord_bg.gif");
	background-position: top;
	background-repeat: repeat-x;
	-moz-user-select: none;
	cursor: default;
	padding-left: 4px;
	padding-right: 4px;
}
/* icon */
div.dhx_acc_item_standard div.dhx_acc_item_label_standard img.dhx_acc_item_icon_standard {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 4px;
	top: 3px;
}
/* content */
div.dhx_acc_item_standard div.dhx_acc_item_content_opened_standard {
	awidth: 100%;
	overflow: hidden;
	position: relative;
	aborder-bottom: #C2D9EB 1px solid;
	amargin-top: 1px;
	margin-top: 1px;
}
div.dhx_acc_item_standard div.dhx_acc_item_content_opened_standard div.dhtmlx_wins_body_content {
	position: relative;
}
div.dhx_acc_item_standard div.dhx_acc_item_content_closed_standard {
	display: none;
}
/* accordion attached to window */
.dhtmlxAccordionAttached {
	border: none !important;
}
div.dhx_acc_item_standard div.dhtmlxWindowMainContent {
	amargin-top: 1px;
	amargin-bottom: 1px;
}
/* inner window */
div.dhx_acc_item_standard div.dhx_acc_item_content_opened_standard div.dhtmlxWindowMainContent {
	background-color: #FFFFFF;
	aborder: 1px solid #C2D5DC;
	border-top: #B4B4B4 1px solid;
	border-left: #B4B4B4 1px solid;
	border-right: #969596 1px solid;
	border-bottom: #969596 1px solid;
}
.dhxAccordLabelIEFix_standard {
	height: 26px !important;
	line-height: 22px !important;
}
.dhxAccordPolyIEFix_standard {
	padding-bottom: 2px;
	padding-right: 2px;
}